@media (min-width: 700px) {
  header {
    margin-bottom: 4rem;
  }

  main {
    display: grid;
    grid-template-areas:
      "A A C"
      "B B C";

    padding: 2rem;
  }

  main #foto-principal {
    grid-area: A;
  }

  main #content {
    grid-area: B;
  }

  main #artSec {
    grid-area: C;

    width: 32rem;
  }

  main #artSec h2 {
    font-size: 1.6rem;
  }

  main .art img {
    width: 100%;
  }

  main #artSec h3 {
    font-size: 1.2rem;
  }
}
