* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --hsl: 195;

  --color-base-white: hsl(0, 0%, 100%);
  --color-base-gray-100: hsl(var(--hsl), 100%, 98%);
  --color-base-blue-100: hsl(var(--hsl), 46%, 40%);
  --color-base-blue-200: hsl(var(--hsl), 91%, 25%);
}

body {
  font-size: 1.6rem;

  width: 100vw;
}

#page {
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  background-color: var(--color-base-blue-200);

  width: 100%;

  display: flex;
  align-items: center;
  gap: 2.4rem;
}

header label {
  /* Label desaparecer na barra de pesquisa */
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

header #logo {
  width: 4rem;
  height: 4rem;
}

header img {
  width: 4.2rem;
  height: 4.2rem;
}

header {
}

/* Main */

main .text,
main #artSec {
  padding: 0 2rem;
}

main #foto-principal {
  width: 100%;
}

main .top {
  margin: 3rem 0;
}

/* Button */

.button {
  display: flex;
  gap: 0.8rem;
}

.button::before,
.button::after {
  content: "";
  background-color: var(--color-base-blue-200);

  border: none;
  border-radius: 50%;

  width: 3.5rem;
  height: 3.5rem;

  display: block;
}

.button::before {
  background-image: url(./assets/button/thumb-up.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button::after {
  background-image: url(./assets/button/thumb-down.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Artigo */

#artSec img {
  width: 15rem;

  aspect-ratio: 4/3;
}
