* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --hsl: 195;

  --color-base-white: hsl(0, 0%, 100%);
  --color-base-gray-100: hsl(var(--hsl), 100%, 98%);
  --color-base-blue-100: hsl(var(--hsl), 46%, 40%);
  --color-base-blue-200: hsl(var(--hsl), 91%, 25%);
}

body {
  font-size: 1.6rem;

  width: 100vw;

  overflow-x: hidden;
}

html,
body,
input {
  font-family: "Mulish", sans-serif;
}

#page {
  background-color: hsl(var(--hsl), 91%, 25%);

  display: grid;
  grid-template-rows: max-content 1fr max-content;

  height: 100vh;
}

.container {
  width: min(70rem, 100%);

  padding: 1.6rem 3.2rem;
  margin: 0 auto;
}

/* Header */
.container-header {
  background-color: var(--color-base-blue-200);

  width: 100%;
  height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

header label {
  /* Label desaparecer na barra de pesquisa */
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

header #logo {
  width: 4rem;
  height: 4rem;
}

header .avatar {
  width: 4.2rem;
  height: 4.2rem;

  border-radius: 50%;
  object-fit: cover;
}

.input-wrapper #search {
  width: 100%;
  height: 1.6rem;
  padding: 2rem;

  background-color: var(--color-base-blue-100);

  border: none;
  border-radius: 0.6rem;

  font-size: 1.6rem;
  font-weight: 600;

  color: var(--color-base-white);

  transition: outline 0.2s;
  max-width: 70rem;
}

.input-wrapper #search:focus {
  outline: 2px solid var(--color-base-white);
}

.input-wrapper #search::placeholder {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem; /* 16px */

  color: var(--color-base-white);
}

/* Main */

.container-main {
  padding: 0 2rem;
}

main {
  background-color: var(--color-base-white);
}

main p {
  font-size: 1.2rem;
}

main .art h3 {
  font-size: 1.4rem;
}

main .art p {
  font-size: 1rem;
}

main #foto-principal {
  width: 100%;

  display: block;
}

main .top {
  margin: 3rem 0;
}

main .top h1 {
  margin-bottom: 2rem;
}

.text > p:nth-child(1) {
  margin-bottom: 3rem;
}
/* Button */

.button {
  display: flex;
  gap: 0.8rem;
}

.button::before,
.button::after {
  content: "";
  background-color: var(--color-base-blue-200);

  border: none;
  border-radius: 50%;

  width: 3.5rem;
  height: 3.5rem;

  display: block;
}

.button::before {
  background-image: url(./assets/button/thumb-up.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button::after {
  background-image: url(./assets/button/thumb-down.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Artigo */

#artSec {
  margin: 3rem 0;
}

#artSec h2 {
  margin-bottom: 3.2rem;
}

#artSec .art-wrapper {
  display: flex;
  flex-direction: column;

  gap: 3.2rem;
}

#artSec .art {
  display: grid;

  grid-template-areas:
    "A B B"
    "A C C";

  column-gap: 1.6rem;
}

#artSec img {
  max-width: 15rem;
  height: auto;
  object-fit: cover;
  grid-area: A;

  aspect-ratio: 4/3;
}

#artSec h3 {
  grid-area: B;
}

/* Footer */
footer {
  width: 100%;
  height: 6.4rem;
  padding: 1.6rem;

  background-color: var(--color-base-blue-100);
  color: var(--color-base-white);

  display: flex;
  place-items: center;
  place-content: center;
}
